
body {
background-image: url(../images/lecture.png);
background-size: cover;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: 'Roboto', cursive;
}

h1 {
	color: blue;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0:;
}

h2 {
	color: black;
	font-size: 40px;
	margin-top: 0;
	font-family: 'Galada', cursive;
}



.bio {
	color: green;
	font-size: 21px;
}

.me {
height: 150px;
width: 150px;
border-radius: 100%;
border-style:  solid;
border-color: yellow;
margin-top: 40px;

}

.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*extra small devices (portrait phones, less than 576px*/
@media (max-width: 575.98) {

}


/*small devices (landscape phones. 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}


/*large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}


/*extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {...}





